@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.rssi {
  width: auto;

  &-box {
    background: $light-bg;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 16px;

    &-legend {
      display: flex;
      flex-direction: row-reverse;
      font-size: 12px;
      justify-content: flex-end;
      margin-top: 10px;
      width: 100%;

      &.space {
        justify-content: space-between;
      }

      &-item {
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        &-box {
          border-radius: 4px;
          display: block;
          height: 24px;
          margin: 0 auto 4px;
          width: 24px;
        }

        &-label {
          color: $light-font-color;
          text-align: center;
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &-box {
        background-color: $box-bg;
        border-radius: 16px;
        color: $light-font-color;
        padding: 16px;
        text-align: center;
        width: 125px;

        &.small {
          border-radius: 10px;
          padding: 10px;
          width: auto;

          h5 {
            font-size: px-to-rem(14);
          }

          h6 {
            font-size: px-to-rem(10);
            margin-top: 5px;
          }
        }

        &.rssi-stats-0 { background-color: rgba(#fd7f6f, .75); }

        &.rssi-stats-1 { background-color: rgba(#ffb55a, .75); }

        &.rssi-stats-2 { background-color: rgba(#ffee65, .75); }

        &.rssi-stats-3 { background-color: rgba(#7eb0d5, .75); }

        &.rssi-stats-4 { background-color: rgba(#8bd3c7, .75); }

        &.rssi-stats-5 { background-color: rgba(#b2e061, .75); }

        h3 {
          font-size: px-to-rem(18);
          font-weight: 400;
          margin-bottom: 5px;
        }

        h4 {
          font-size: px-to-rem(28);
          font-weight: 700;
        }
      }
    }

    h2 {
      color: $light-font-color;
      font-size: px-to-rem(22);
      margin-bottom: 10px;
    }
  }
}
