@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.rssi {
  width: auto;

  &-box-row {
    > div {
      @media all and (min-width: 1201px) and (max-width: 1600px) {
        flex: 0 0 auto;
        width: 50%;
      }

      @media all and (max-width: $screen-sm-max) {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &-box {
    background: $light-bg;
    border-radius: 8px;
    height: 100%;
    padding: 16px;

    @media all and (max-width: $screen-sm-max) {
      height: auto;
      margin-bottom: 20px;
    }

    &.witness-invalids {
      margin-top: 20px;

      @media all and (max-width: $screen-sm-max) {
        margin-top: 0;
      }
    }

    &.beacons-valid-chart {
      @media all and (max-width: 1600px) {
        margin-top: 20px;
      }

      @media all and (max-width: $screen-sm-max) {
        margin-top: 0;
      }
    }

    &-columns {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      > div {
        margin-bottom: 20px;
        width: 49%;

        @media all and (max-width: 1600px) {
          width: 100%;
        }

        @media all and (max-width: 1420px) {
          margin-bottom: 10px;
        }

        @media all and (max-width: $screen-md-max) {
          margin-bottom: 5px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        h2 {
          @media all and (max-width: 1600px) {
            margin-bottom: 5px;
          }
        }
      }
    }

    &-legend {
      display: flex;
      flex-direction: row-reverse;
      font-size: px-to-rem(12);
      justify-content: flex-end;
      margin-top: 10px;
      width: 100%;

      &.space {
        justify-content: space-between;
      }

      &-item {
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        &:first-of-type {
          margin-right: 0;
        }

        &-box {
          border-radius: 4px;
          display: block;
          height: 24px;
          margin: 0 auto 4px;
          width: 24px;

          @media all and (max-width: 1200px) {
            height: 18px;
            width: 18px;
          }
        }

        &-label {
          color: $light-font-color;
          text-align: center;
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      @media all and (max-width: 1600px) {
        flex-wrap: wrap;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &-box {
        background-color: $box-bg;
        border-radius: 16px;
        color: $light-font-color;
        padding: 16px;
        text-align: center;
        width: 125px;

        @media all and (max-width: 1420px) {
          border-radius: 8px;
          padding: 8px;
          width: 22.5%;
        }

        @media all and (max-width: $screen-md-max) {
          border-radius: 4px;
          padding: 4px;
        }

        @media all and (max-width: 480px) {
          margin-bottom: 5px;
          width: 49%;
        }

        &.small {
          border-radius: 10px;
          padding: 10px;
          width: auto;

          @media all and (max-width: 1600px) {
            border-radius: 8px;
            padding: 8px;
            margin-bottom: 5px;
            width: 30%;

            &:nth-last-of-type(1),
            &:nth-last-of-type(2),
            &:nth-last-of-type(3) {
              margin-bottom: 0;
            }
          }

          @media all and (max-width: $screen-md-max) {
            border-radius: 4px;
            padding: 4px;
          }

          h4 {
            @media all and (max-width: 1600px) {
              font-size: px-to-rem(20);
            }
          }

          h5 {
            font-size: px-to-rem(14);

            @media all and (max-width: 1600px) {
              font-size: px-to-rem(12);
            }
          }

          h6 {
            font-size: px-to-rem(10);
            margin-top: 5px;
          }
        }

        &.rssi-stats-0 { background-color: rgba(#fd7f6f, .75); }

        &.rssi-stats-1 { background-color: rgba(#ffb55a, .75); }

        &.rssi-stats-2 { background-color: rgba(#ffee65, .75); }

        &.rssi-stats-3 { background-color: rgba(#7eb0d5, .75); }

        &.rssi-stats-4 { background-color: rgba(#8bd3c7, .75); }

        &.rssi-stats-5 { background-color: rgba(#b2e061, .75); }

        h3 {
          font-size: px-to-rem(18);
          font-weight: 400;
          margin-bottom: 5px;

          @media all and (max-width: 1420px) {
            font-size: px-to-rem(16);
            margin-bottom: 0;
          }
        }

        h4 {
          font-size: px-to-rem(28);
          font-weight: 700;

          @media all and (max-width: 1420px) {
            font-size: px-to-rem(24);
          }

          @media all and (max-width: $screen-md-max) {
            font-size: px-to-rem(20);
          }
        }
      }
    }

    h2 {
      color: $light-font-color;
      font-size: px-to-rem(22);
      margin-bottom: 10px;

      @media all and (max-width: 1420px) {
        font-size: px-to-rem(18);
      }
    }
  }
}
