@use "sass:color";
@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.menu {
  background-color: $dark-bg;
  color: $font-color;
  height: 100%;
  width: 100%;

  @media all and (max-width: 1020px) {
    height: calc(100% - 60px);
    left: 0;
    position: fixed;
    max-width: 90%;
    top: 60px;
    transform: translateX(-100%);
    transition: transform .25s ease-in-out;
    width: 400px;
    z-index: 9996;

    &.mobile-visible {
      transform: translateX(0);
    }
  }

  @media all and (max-width: 660px) {
    height: calc(100% - 80px);
    top: 80px;
  }

  &-logo {
    color: $light-font-color;
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 15px 30px;
    text-align: center;

    img {
      width: 60%;

      @media all and (max-width: 1300px) {
        width: 80%;
      }

      @media all and (max-width: $screen-sm-max) {
        max-width: 200px;
      }

      @media all and (max-width: 660px) {
        max-width: 150px;
      }
    }

    p {
      &.menu-logo-version {
        color: $font-color;
        font-size: px-to-rem(13);
        font-weight: 700;
      }
    }
  }

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0;
      padding: 5px 0;

      &.disabled {
        cursor: not-allowed;

        a {
          color: $dark-font-color;
          pointer-events: none;
          user-select: none;
        }
      }

      a {
        font-size: 14px;
        font-weight: 500;
        display: block;
        height: 32px;
        padding: 30px;
        transition: color .25s ease-in-out;

        &:hover {
          color: $light-font-color;
        }

        &:active,
        &:focus {
          color: color.adjust($light-font-color, $lightness: -10%);
        }

        &.active {
          color: $decor-color;
        }

        svg {
          color: $light-font-color;
          margin-left: 10px;
          vertical-align: text-top;
        }
      }
    }
  }
}

.menu-toggle {
  background: none;
  border: 0;
  display: none;
  height: 60px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 60px;
  z-index: 9998;

  @media all and (max-width: 1021px) {
    display: block;
  }

  @media all and (max-width: 660px) {
    left: 10px;
    height: 80px;
    top: 0;
  }

  svg {
    fill: $light-font-color;
  }
}
