@use "sass:color";
@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.menu {
  background-color: $dark-bg;
  color: $font-color;
  height: 100%;
  width: 100%;

  &-logo {
    color: $light-font-color;
    display: block;
    font-weight: 700;
    height: 60px;
    margin-bottom: 20px;
    padding: 15px 30px;

    p {
      font-size: px-to-rem(24);
      font-weight: 700;

      &.menu-logo-version {
        color: $font-color;
        font-size: px-to-rem(13);
      }
    }
  }

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0;
      padding: 5px 0;

      a {
        font-size: 14px;
        font-weight: 500;
        display: block;
        height: 32px;
        padding: 30px;
        transition: color .25s ease-in-out;

        &:hover {
          color: $light-font-color;
        }

        &:active,
        &:focus {
          color: color.adjust($light-font-color, $lightness: -10%);
        }

        &.active {
          color: $decor-color;
        }
      }
    }
  }
}
