@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.activity {
  width: 100%;

  &-filter {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .react-select {
      width: 300px;
    }

    label {
      margin-right: 10px;
    }
  }

  &-list {
    margin-top: 20px;

    &.rewards {
      .activity-constructed-challenge,
      .activity-witnessed-beacon,
      .activity-broadcasted-beacon,
      .activity-challenged-beaconer,
      .activity-transferred-packets {
        display: none;
      }
    }

    &.packets {
      .activity-constructed-challenge,
      .activity-witnessed-beacon,
      .activity-broadcasted-beacon,
      .activity-challenged-beaconer,
      .activity-reward {
        display: none;
      }
    }

    &.constructed-challenge {
      .activity-transferred-packets,
      .activity-witnessed-beacon,
      .activity-broadcasted-beacon,
      .activity-challenged-beaconer,
      .activity-reward {
        display: none;
      }
    }

    &.challenged-beaconer {
      .activity-transferred-packets,
      .activity-witnessed-beacon,
      .activity-broadcasted-beacon,
      .activity-constructed-challenge,
      .activity-reward {
        display: none;
      }
    }

    &.witnessed-beacon {
      .activity-transferred-packets,
      .activity-challenged-beaconer,
      .activity-broadcasted-beacon,
      .activity-constructed-challenge,
      .activity-reward {
        display: none;
      }
    }

    &.broadcasted-beacon {
      .activity-transferred-packets,
      .activity-challenged-beaconer,
      .activity-witnessed-beacon,
      .activity-constructed-challenge,
      .activity-reward {
        display: none;
      }
    }

    table {
      width: 100%;

      @media all and (max-width: 660px) {
        display: block;
      }

      tbody {
        @media all and (max-width: 660px) {
          display: flex;
          flex-flow: row wrap;
        }
      }

      tr {
        border-bottom: 12px solid $bg;
      }
    }
  }

  &-item {
    @media all and (max-width: 660px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      margin-right: 15px;
      width: calc(49% - 7.5px);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    &.activity-error {
      .activity-item-icon {
        > div {
          background-color: $activity-error-color;
        }
      }
    }

    &.activity-reward {
      .activity-item-icon {
        > div {
          background-color: $activity-reward-color;
        }
      }
    }

    &.activity-transferred-packets {
      .activity-item-icon {
        > div {
          background-color: $activity-transferred-packets;
        }
      }
    }

    &.activity-constructed-challenge {
      .activity-item-icon {
        > div {
          background-color: $activity-constructed-challenge;
        }
      }
    }

    &.activity-challenged-beaconer {
      .activity-item-icon {
        > div {
          background-color: $activity-challenged-beaconer;
        }
      }
    }

    &.activity-witnessed-beacon {
      .activity-item-icon {
        > div {
          background-color: $activity-witnessed-beacon;
        }
      }
    }

    &.activity-broadcasted-beacon {
      .activity-item-icon {
        > div {
          background-color: $activity-broadcasted-beacon;
        }
      }
    }

    &-icon {
      width: 32px;

      @media all and (max-width: $screen-md-max) {
        width: 28px;
      }

      > div {
        align-items: center;
        color: $light-font-color;
        border-radius: 50%;
        display: flex;
        height: 32px;
        justify-content: center;
        width: 32px;

        @media all and (max-width: $screen-md-max) {
          height: 28px;
          width: 28px;
        }

        svg {
          vertical-align: unset;

          @media all and (max-width: $screen-md-max) {
            transform: scale(.9);
          }
        }
      }
    }

    &-type {
      color: $light-font-color;
      font-size: px-to-rem(15);
      font-weight: 700;

      @media all and (max-width: $screen-md-max) {
        font-size: px-to-rem(14);
      }
    }

    &-desc {
      &-block {
        &:not(:last-of-type) {
          margin-bottom: 7px;
        }

        p {
          color: $light-font-color;
          font-size: px-to-rem(12);
          font-weight: 700;
        }

        h6 {
          color: $font-color;
          font-size: px-to-rem(16);

          @media all and (max-width: $screen-md-max) {
            font-size: px-to-rem(12);
          }
        }
      }
    }

    &-block-height {
      &-header {
        color: $light-font-color;
        font-size: px-to-rem(12);
        font-weight: 700;
      }

      &-content {
        color: $font-color;
        font-size: px-to-rem(16);

        @media all and (max-width: $screen-md-max) {
          font-size: px-to-rem(12);
        }
      }
    }

    &-time {
      font-size: px-to-rem(12);
      text-align: right;
      width: 120px;

      @media all and (max-width: 660px) {
        flex-grow: 1;
        text-align: left;
      }
    }

    td {
      background-color: $box-bg;
      padding: 7px 16px;

      @media all and (max-width: $screen-md-max) {
        padding: 5px 10px;
      }

      @media all and (max-width: $screen-sm-max) {
        padding: 5px;
      }

      @media all and (max-width: 660px) {
        display: block;
        width: 100%;
      }

      &:first-of-type {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;

        @media all and (max-width: 660px) {
          border-bottom-left-radius: 0;
          border-top-right-radius: 8px;
        }
      }

      &:last-of-type {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;

        @media all and (max-width: 660px) {
          border-bottom-left-radius: 8px;
          border-top-right-radius: 0;
        }
      }
    }
  }

  &-loading {
    color: $light-font-color;
    font-size: px-to-rem(14);
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
  }

  h2 {
    color: $light-font-color;
    font-size: px-to-rem(22);
    font-weight: 700;
  }
}
