@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.activity {
  width: 100%;

  &-list {
    margin-top: 20px;

    table {
      width: 100%;
    }
  }

  &-item {
    &-block-height {
      &-header {
        color: $light-font-color;
        font-size: px-to-rem(12);
      }

      &-content {
        color: $font-color;
        font-size: px-to-rem(16);
      }
    }

    &-time {
      font-size: px-to-rem(12);
      text-align: right;
      width: 120px;
    }

    td {
      background-color: $box-bg;
      padding: 5px 16px;

      &:first-of-type {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }

      &:last-of-type {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }

  &-item-spacer {
    height: 12px;
  }

  h2 {
    color: $light-font-color;
    font-size: px-to-rem(22);
    font-weight: 700;
  }
}
