@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

// VARIABLES
$json-bg: #2b303b;

.chain-variables {
  &-object {
    background-color: $json-bg;
    border-radius: 16px;
    margin-top: 20px;
    padding: 16px;

    @media all and (max-width: $screen-sm-max) {
      border-radius: 7px;
      padding: 15px;
      margin-right: 15px;
    }

    .variable-value {
      word-break: break-all;
    }
  }

  h2 {
    color: $light-font-color;
    font-size: px-to-rem(26);
    font-weight: 700;

    @media all and (max-width: $screen-sm-max) {
      font-size: px-to-rem(24);
      margin-bottom: 15px;
    }
  }
}
