@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.home {
  .nav {
    border-bottom: 1px solid $font-color;

    &-item {
      flex-grow: 1;

      button {
        border: 0;
        color: $font-color;
        font-size: px-to-rem(16);
        position: relative;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
          border: 0;
        }

        &.active {
          background-color: transparent;
          border: 0;
          border-bottom: 3px solid $decor-color;
          border-radius: 1.5px;
          color: $decor-color;
        }

        &.coming-soon {
          color: $dark-font-color;
          cursor: not-allowed;
        }

        .nav-link-coming-soon {
          border: 1px solid $dark-font-color;
          border-radius: 10px;
          color: $dark-font-color;
          font-size: px-to-rem(10);
          padding: 3px 7px;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 0;
  }

  h2 {
    color: $light-font-color;
    margin-bottom: 20px;
  }
}
