@import "./variables";

#app {
  height: 100%;
  width: 100%;
}

.app-content {
  background-color: $dark-bg;
  height: 100%;
  width: 100%;

  > .container-fluid {
    height: 100%;

    > .row {
      height: 100%;

      > div {
        height: 100%;
      }
    }
  }

  .menu-container {
    @media all and (max-width: 1020px) {
      width: 0;
    }
  }

  .body-container {
    @media all and (max-width: 1020px) {
      padding: 0 20px;
      width: 100%;
    }

    @media all and (max-width: 660px) {
      padding: 0 10px;
    }
  }
}

.route-section {
  background-color: $bg;
  border-top-left-radius: 20px;
  color: $font-color;
  height: calc(100% - 60px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 25px 30px;
  position: relative;
  width: 100%;

  @media all and (max-width: $screen-sm-max) {
    padding: 16px;
  }

  @media all and (max-width: 660px) {
    height: calc(100% - 80px);
  }

  .preload {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.input-error {
  color: $danger;
  margin-top: 5px;
  width: 100%;
}
