@import "./variables";

#app {
  height: 100%;
  width: 100%;
}

.app-content {
  background-color: $dark-bg;
  height: 100%;
  width: 100%;

  > div {
    height: 100%;

    > .row {
      height: 100%;

      > div {
        height: 100%;
      }
    }
  }
}

.route-section {
  background-color: $bg;
  border-top-left-radius: 20px;
  color: $font-color;
  height: calc(100% - 60px);
  padding: 25px;
  width: 100%;
}
