@import "./variables";

#app {
  height: 100%;
  width: 100%;
}

.app-content {
  background-color: $dark-bg;
  height: 100%;
  width: 100%;

  > .container-fluid {
    height: 100%;

    > .row {
      height: 100%;

      > div {
        height: 100%;
      }
    }
  }
}

.route-section {
  background-color: $bg;
  border-top-left-radius: 20px;
  color: $font-color;
  height: calc(100% - 60px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 25px;
  position: relative;
  width: 100%;

  .preload {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
