@import "variables";
@import "functions";

.btn {
  -moz-appearance: none; /* stylelint-disable-line */
  -webkit-appearance: none; /* stylelint-disable-line */
  background-color: transparent;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  outline: none !important;
  padding: 0;
  text-align: center;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;

  // Colors
  @import "./buttons/btn_decor";
  @import "./buttons/btn_danger";
  @import "./buttons/btn_warning";

  // Sizes
  @import "./buttons/btn_xl";
  @import "./buttons/btn_lg";
  @import "./buttons/btn_md";
  @import "./buttons/btn_sm";

  // Specials
  @import "./buttons/btn_refresh";
}
