@import "./variables";
@import "./functions";

.config-form {
  background-color: $box-bg;
  border-radius: 20px;
  padding: 20px;

  &-input {
    margin-bottom: 10px;
  }

  &-days {
    &-buttons {
      display: flex;
      flex-direction: row;

      .input-radio-button {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    h3 {
      color: $light-font-color;
      font-size: px-to-rem(22);
      margin-bottom: 5px;
    }
  }

  &-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
  }
}
