@use "sass:color";
@import "variables";
@import "functions";

.hs-input {
  background-color: $light-bg;
  border: 1px solid $bg;
  border-radius: 17px;
  color: $font-color;
  display: block;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $dark-bg;
    box-shadow: none;
  }

  &::placeholder {
    color: $dark-font-color;
    opacity: 1;
  }

  &-donate {
    text-align: center;
    width: 100px;
  }
}

/* stylelint-disable selector-class-pattern */
.react-select {
  position: relative;
  z-index: 9997;

  .rs {
    &__control {
      background-color: $light-bg;
      border: 1px solid $bg;
      border-radius: 17px;

      &:hover,
      &:focus,
      &:active,
      &.rs__control--is-focused {
        border: 1px solid $dark-bg;
        box-shadow: none;
      }
    }

    &__indicators {
      .rs__indicator {
        &-separator {
          background-color: $bg;
        }

        &.rs__dropdown-indicator {
          color: $font-color;

          &:hover,
          &:active,
          &:focus {
            color: $font-color;
          }
        }
      }
    }

    &__menu {
      background-color: $light-bg;
      border: 1px solid $bg;
      box-shadow: none;
      color: $font-color;
    }

    &__placeholder {
      padding: 0 10px;
    }

    &__input {
      color: $font-color !important;

      &-container {
        color: $font-color !important;
      }
    }

    &__single-value {
      color: $font-color !important;
    }
  }
}
/* stylelint-enable selector-class-pattern */

.input-radio-button {
  display: inline-block;

  input {
    display: none;

    &:checked {
      + label {
        background-color: color.adjust($decor-color, $lightness: -20%);
      }
    }
  }
}

.flag {
  margin-right: 10px;
}
