@use "sass:color";
@import "variables";
@import "functions";

/* stylelint-disable selector-class-pattern */
.rdt_Table {
  background-color: transparent !important;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;

  .rdt_TableHead {
    font-size: px-to-rem(14);
    font-weight: 700;

    .rdt_TableHeadRow {
      background-color: $box-bg;
      color: $light-font-color;
    }
  }

  .rdt_TableBody {
    background-color: transparent;

    .rdt_TableRow {
      background-color: transparent;

      > div {
        > button {
          background-color: $box-bg;
          border-radius: 0;
          color: $light-font-color;
          transition: background-color .2s ease-in-out;

          &:hover {
            background-color: $decor-color;
          }
        }
      }

      .rdt_TableCell {
        background-color: $light-bg;
        color: $light-font-color;

        a {
          transition: color .25s ease-in-out;

          &:hover,
          &:focus,
          &:active {
            color: $decor-color;
          }
        }
      }
    }

    .rdt_ExpanderRow {
      background-color: $box-bg;
      color: $light-font-color;
      padding: 20px 20px 20px 50px;

      table {
        width: 100%;

        tr {
          &:last-of-type {
            td {
              border-bottom: 0;
            }
          }
        }

        th,
        td {
          padding: 5px;

          &:first-of-type {
            padding-left: 0;
          }

          &:last-of-type {
            padding-right: 0;
          }
        }

        th {
          font-size: px-to-rem(16);
        }

        td {
          border-bottom: 1px solid color.adjust($box-bg, $lightness: 10%);
          font-size: px-to-rem(14);
        }
      }
    }
  }
}

.rdt_Pagination {
  background-color: $box-bg !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: $light-font-color !important;
  overflow: hidden;

  button {
    &[disabled] {
      svg {
        fill: $font-color;
      }
    }

    &:not(:disabled) {
      &:hover {
        background-color: rgba($decor-color, .5);
      }
    }

    svg {
      fill: $light-font-color;
    }
  }
}
/* stylelint-enable */
