@import "variables";

body {
  font-family: Roboto, sans-serif;
  line-height: 1;
  text-rendering: optimizespeed;

  /* -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}
