$dark-bg: #13151b;
$bg: #1b1c26;
$light-bg: #30313a;
$box-bg: #21222d;
$decor-color: #a9dfd8;
$dark-decor-color: #24564e;
$light-font-color: #fff;
$font-color: #ababab;
$dark-font-color: #7a7a7a;
$danger: #d10000;

// BOOTSTRAP
$screen-xs: 576px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// MOBILE 360
$screen-360: 360px;
