@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.donate {
  &-content {
    text-align: center;
  }

  &-qr {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    &-box {
      background-color: $box-bg;
      border-radius: 8px;
      padding: 20px;
    }
  }

  &-amount {
    background-color: $box-bg;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
    padding: 20px;
    width: 296px;
  }

  &-info {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &-history {
    background-color: $light-bg;
    border-radius: 8px;
    padding: 16px;
    margin-top: 10px;

    table {
      width: 100%;

      th {
        color: $light-font-color;
        padding: 0 7px;

        &:last-of-type {
          text-align: right;
        }
      }

      td {
        padding: 7px;

        &:last-of-type {
          text-align: right;
        }

        a {
          display: inline-block;
          transition: color .2s ease-in-out;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @media all and (max-width: 1700px) {
            width: 250px;
          }

          @media all and (max-width: $screen-md-max) {
            width: 150px;
          }

          &:hover {
            color: $decor-color;
          }
        }
      }
    }
  }

  &-chart {
    margin-top: 30px;

    &-box {
      margin: 15px auto 0;
      max-width: 100%;
      width: 400px;

      @media all and (max-width: 1350px) {
        width: 300px;
      }

      canvas {
        max-width: 100%;
      }
    }
  }

  > .container-fluid {
    height: 100%;

    > .row {
      height: 100%;

      > div {
        height: 100%;
      }
    }
  }

  h2,
  h3 {
    color: $light-font-color;
    font-size: px-to-rem(22);
    font-weight: 700;
  }

  p {
    line-height: 1.4;

    &.donate-wallet {
      color: $light-font-color;
      font-size: px-to-rem(14);
    }
  }
}
