@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.donate {
  text-align: center;

  &-content {
    text-align: center;

    @media all and (max-width: $screen-md-max) {
      margin-bottom: 20px;
    }
  }

  &-qr {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    max-width: 100%;

    &-box {
      background-color: $box-bg;
      border-radius: 8px;
      padding: 20px;
      width: 100%;

      &-bg {
        align-items: center;
        background: #fff;
        border-radius: 8px;
        display: flex;
        height: 240px;
        justify-content: center;
        margin: 0 auto;
        width: 240px;

        @media all and (max-width: 400px) {
          background: transparent;
          border-radius: 0;
          height: auto;
          width: auto;
        }
      }
    }
  }

  &-amount {
    background-color: $box-bg;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
    max-width: 100%;
    padding: 20px;
    width: 296px;
  }

  &-info {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &-history {
    background-color: $light-bg;
    border-radius: 8px;
    padding: 16px;
    margin-top: 10px;

    @media all and (max-width: 480px) {
      padding: 12px;
    }

    table {
      width: 100%;

      @media all and (max-width: $screen-md-max) {
        text-align: left;
      }

      th {
        color: $light-font-color;
        padding: 0 7px;

        @media all and (max-width: 480px) {
          padding: 0 2px;
        }

        &:last-of-type {
          text-align: right;
        }
      }

      td {
        padding: 7px;

        @media all and (max-width: 480px) {
          padding: 4px 2px;
        }

        &:last-of-type {
          text-align: right;
        }

        a {
          display: inline-block;
          transition: color .2s ease-in-out;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @media all and (max-width: 1700px) {
            width: 250px;
          }

          @media all and (max-width: $screen-md-max) {
            width: 150px;
          }

          @media all and (max-width: 480px) {
            width: 100px;
          }

          &:hover {
            color: $decor-color;
          }
        }
      }
    }
  }

  &-chart {
    margin-top: 30px;

    &-box {
      margin: 15px auto 0;
      max-width: 100%;
      width: 400px;

      @media all and (max-width: 1350px) {
        width: 300px;
      }

      canvas {
        max-width: 100%;
      }
    }
  }

  > .container-fluid {
    height: 100%;

    @media all and (max-width: $screen-md-max) {
      height: auto;
    }

    > .row {
      height: 100%;

      > div {
        height: 100%;
      }
    }
  }

  h2,
  h3 {
    color: $light-font-color;
    font-size: px-to-rem(22);
    font-weight: 700;
  }

  p {
    line-height: 1.4;

    &.donate-wallet {
      color: $light-font-color;
      font-size: px-to-rem(14);
    }
  }
}
