@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.connectivity {
  &-address {
    margin-bottom: 20px;

    &-api {
      margin-bottom: 20px;

      @media all and (max-width: 660px) {
        > div {
          &:first-of-type {
            h3 {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      width: 100%;

      @media all and (max-width: 660px) {
        flex-direction: column;
      }

      button {
        margin-right: 10px;

        @media all and (max-width: 660px) {
          margin-bottom: 10px;
          margin-right: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  pre {
    background-color: $box-bg;
    border-radius: 8px;
    color: $font-color;
    height: 400px;
    overflow-x: hidden;
    padding: 20px;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-all;
  }

  h2 {
    color: $light-font-color;
    font-size: px-to-rem(22);
    font-weight: 700;
  }

  h3 {
    color: $font-color;
    font-size: px-to-rem(16);
    font-weight: 400;
  }
}
