@import "../../../static/global-styles/variables";
@import "../../../static/global-styles/functions";

.hs-modal {
  .nav {
    border-bottom: 1px solid $font-color;

    &-item {
      flex-grow: 1;

      button {
        border: 0;
        color: $font-color;
        font-size: px-to-rem(16);
        position: relative;
        width: 100%;

        @media all and (max-width: 660px) {
          font-size: px-to-rem(14);
          padding: 4px 6px;
        }

        &:hover,
        &:focus,
        &:active {
          border: 0;
        }

        &.active {
          background-color: transparent;
          border: 0;
          border-bottom: 3px solid $decor-color;
          border-radius: 1.5px;
          color: $decor-color;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 0;

    @media all and (max-width: 660px) {
      padding: 10px 0;
    }
  }

  h2 {
    color: $light-font-color;
    margin-bottom: 20px;

    @media all and (max-width: 660px) {
      margin-bottom: 10px;
    }
  }
}
